<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>グロンギ語翻訳</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css" >
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="translate" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>翻</b>訳</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>グロンギ</b>翻訳</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="favicon.ico" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p></p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">

          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="translate"><i class="fa fa-link"></i> <span>Input Form</span></a></li>
            <li><a href="http://qiita.com/UltraBirdTech/items/e049448f73d424872c05"><i class="fa fa-link"></i> <span>Article(qiita記事)</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            グロンギ翻訳アプリ
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="input-group　col-mod-12">
            <% form_for @translate, :url => {:action => 'translate'} do |f| %>
              <%= f.text_field :translate, :id => 'translate', :size=>'50', :placeholder => 'ここにはリントの言葉をいれよ' %>
              <button type="submit" class="btn btn-primary">翻訳！！</button>
            <% end %>
          </div>
          <div>
            <h3 id="gurongi_result"><%= @gurongi %></h3>
          </div>
        </section><!-- /.content -->
        <div class="box-body">
            <a href="https://twitter.com/intent/tweet"
                      id="gurongi_tweet"
                      class="btn btn-primary <% if @gurongi.blank? %> disabled <% end %>"
                      data-size="large"
                      target="_blank"
                      <% if @gurongi.blank? %> disabled <% end %> >
            <i class="fa fa-twitter"></i> <span>翻訳結果を Tweet しよう！</span></a>
            <% if request.user_agent.match('Mobile').present? %>
              <a href="http://line.me/R/msg/text/?" id="gurongi_line" class="<% if @gurongi.blank? %> disabled <% end %>">
                <img src="linebutton/linebutton_82x20.png" alt="LINEで送る" />
              </a>
            <% end %>
            <span>

            </span>
        </div>

        <section class="content">
           USAGE
           <lu>
             <li> 日本語を入力して「翻訳」ボタンをクリック</li>
             <li> 換字式暗号によって日本語をグロンギ語を翻訳します</li>
             <li> 特定の単語（クウガ、ゲゲル、ダグバ）などは翻訳しません</li>
             <li> 長音「ー」は前の文字を、「っ」は後の文字を重ねます</li>
           </lu>
        </section>
        <input type="hidden" id="str_jpn" value="<%= @str_jp %>">
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>

    <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
    <script type="text/javascript">
    new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"","withUrl":true});
    </script>

    <script>
      $(function(){
        $('a.disabled').click(function(){
          return false;
        })
        var url = window.location.href
        var twitter_href = $('#gurongi_tweet').attr('href');
        var line_href = $('#gurongi_line').attr('href');

        var twitter_message = twitter_href + "/?text=" + make_text(twitter_href);
        var line_message = line_href + make_text(line_href);

        $("#gurongi_tweet").attr("href", twitter_message);
        $("#gurongi_line").attr("href", line_message)


        function make_text(href){
            var gurongi_result = $('#gurongi_result').text();
            var jpn_str = $('#str_jpn').attr('value');
            var chapter = "    グロンギ語 翻訳アプリ(" + url + ") から投稿"
            var text = gurongi_result
                                   + "( 訳：" + jpn_str + ")"
                                   + chapter ;
            return text;
        }
      });

    </script>
  </body>
</html>
